GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
LAKE_BUCKET=your-unique-chicago-taxi-lake-bucket
RAW_DATASET=raw
ANALYTICS_DATASET=analytics
SOURCE_TABLE=bigquery-public-data.chicago_taxi_trips.taxi_trips
DBT_BIGQUERY_PROJECT=your-gcp-project-id
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/credentials/google_credentials.json
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin

